.icon-size{
    font-size: 37px;
}
.nav-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;;
    color: #ffffff;
}
.account-button{
    margin-left: 70%;
    color:#ffffff;
}
.logotext-img{
    width: 70%;
    height: 100%;
    margin-left:5%;
}
.title-toolbar{
    width:100%;
    height:13%;
    margin-top:5px;
    margin-left:0%;
}

.title-heading{
    margin-top: 1%;
    margin-left: 15%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: #2D7DE6;
}
.title-name{
    margin-left: 15%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: #2D7DE6;
}
.times-ans{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    color: #324068;
}
.times-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: #324068;
    margin-top: 5%;
}
.card-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #324068;
    padding-top: 5%;
}
.times-img{
    height: 500px;
    width: 100%;
    margin-top: 5%;
}
.padding-top{
    padding-top: 5%;
}
.card-button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #F5A732;
    margin-top:25%;
}