<ion-header>
  <ion-toolbar color="warning">
    <ion-row>
      <ion-col size="2.5">
        <ion-img class="logotext-img" src="/assets/images/Logotext.png"></ion-img>
      </ion-col>
      <ion-col size="1.5">
        <ion-button routerLink="/home" class="nav-text" fill="clear">
          <b>Home</b>
        </ion-button>
      </ion-col>
      <ion-col size="1.5">
        <ion-button routerLink="/year3" class="nav-text" fill="clear">
          <b>Year 3</b>
        </ion-button>
      </ion-col>
      <ion-col size="1.5">
        <ion-button routerLink="/year4" class="nav-text" fill="clear">
          <b>Year 4</b>
        </ion-button>
      </ion-col>
      <ion-col size="1.5">
        <ion-button routerLink="/year5" class="nav-text" fill="clear">
          <b>Year 5</b>
        </ion-button>
      </ion-col>
      <ion-col size="1.5">
        <ion-button routerLink="/timestable" class="nav-text" fill="clear">
          <b>Times Tables</b>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button routerLink="/profile" class="account-button" fill="clear">
          <ion-icon class="icon-size" name="person-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <!-- Title Bar -->
  <ion-card color="warning" class="title-toolbar">
    <ion-row>
      <div class="title-heading">
        <b>Year 6</b>
      </div>
    </ion-row>
    <ion-row>
      <div class="title-name">
        <b>{{name}}</b>
      </div>
    </ion-row>
  </ion-card>
  <ion-row class="main-row">
    <ion-col size="2">
    </ion-col>
    <ion-col size="2">
      <!-- Summary card -->
      <ion-card class="summary-card">
        <ion-row>
          <div class="profile-name">
            <b>Course Summary</b>
          </div>
        </ion-row>
        <ion-row>
          <div class="profile-name">
            <b>Number</b>
          </div>
        </ion-row>
        <ion-row>
          <div class="progress-label">
            <i>Number and Place Value</i>
          </div>
          <ion-progress-bar class="summary-bar" value="0.5"></ion-progress-bar>
        </ion-row>
        <ion-row>
          <div class="progress-label">
            <i>Add/Sub/Multiply/Divide</i>
          </div>
          <ion-progress-bar class="summary-bar" value="0.3"></ion-progress-bar>
        </ion-row>
        <ion-row>
          <div class="progress-label">
            <i>Ratio and Proportion</i>
          </div>
          <ion-progress-bar class="summary-bar" value="1"></ion-progress-bar>
        </ion-row>
        <ion-row>
          <div class="progress-label">
            <i>Algebra</i>
          </div>
          <ion-progress-bar class="summary-bar" value="1"></ion-progress-bar>
        </ion-row>
        <ion-row>
          <div class="profile-name">
            <b>Geometry</b>
          </div>
        </ion-row>
        <ion-row>
          <div class="progress-label">
            <i>Shapes and Grids</i>
          </div>
          <ion-progress-bar class="summary-bar" value="1"></ion-progress-bar>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <div class="content-holder">
        <ion-row>
          <!-- Number and Place Value Card -->
          <ion-card class="content-card">
            <ion-row>
              <ion-item class="progress-item">
                <ion-col>
                  <ion-label class="progress-title">
                    <b>Number and Place Value</b>
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-row>
                    <div class="progress-value">
                      <i>4/10 Points</i>
                    </div>
                  </ion-row>
                  <ion-row>
                    <ion-progress-bar class="card-progress" value="0.4"></ion-progress-bar>
                  </ion-row>
                </ion-col>
              </ion-item>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Read,write,order to 10 million</i>
                  </div>
                </ion-row>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Rounding</i>
                  </div>
                </ion-row>
              </ion-col>
              <ion-col>
                
              </ion-col>
              <ion-col>
              </ion-col>
            </ion-row>
            <ion-row class="main-row">
              <ion-button (click)="comingSoon()" class="tutorial-button">
                <b>Tutorial</b>
              </ion-button>
              <ion-button (click)="comingSoon()" class="quiz-button">
                <b>Quiz</b>
              </ion-button>
            </ion-row>
          </ion-card>
        </ion-row>
        <ion-row>
          <!-- Addition and Subtraction Card -->
          <ion-card class="content-card">
            <ion-row>
              <ion-item class="progress-item">
                <ion-col>
                  <ion-label class="progress-title">
                    <b>Add/Sub/Multiply/Divide</b>
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-row>
                    <div class="progress-value">
                      <i>7/10 Points</i>
                    </div>
                  </ion-row>
                  <ion-row>
                    <ion-progress-bar class="card-progress" value="0.7"></ion-progress-bar>
                  </ion-row>
                </ion-col>
              </ion-item>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Long Multiplication</i>
                  </div>
                </ion-row>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Long Division</i>
                  </div>
                </ion-row>
              </ion-col>
              <ion-col>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Short Division</i>
                  </div>
                </ion-row>
              </ion-col>
              <ion-col>
              </ion-col>
            </ion-row>
            <ion-row class="main-row">
              <ion-button (click)="comingSoon()" class="tutorial-button">
                <b>Tutorial</b>
              </ion-button>
              <ion-button (click)="comingSoon()" class="quiz-button">
                <b>Quiz</b>
              </ion-button>
            </ion-row>
          </ion-card>
        </ion-row>
        <ion-row>
          <!-- Fractions Card -->
          <ion-card class="content-card">
            <ion-row>
              <ion-item class="progress-item">
                <ion-col>
                  <ion-label class="progress-title">
                    <b>Fractions</b>
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-row>
                    <div class="progress-value">
                      <i>3/10 Points</i>
                    </div>
                  </ion-row>
                  <ion-row>
                    <ion-progress-bar class="card-progress" value="0.3"></ion-progress-bar>
                  </ion-row>
                </ion-col>
              </ion-item>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Simplify Fractions</i>
                  </div>
                </ion-row>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Order Fractions</i>
                  </div>
                </ion-row>
              </ion-col>
              <ion-col>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Add and subtract fractions</i>
                  </div>
                </ion-row>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Multiply proper fractions</i>
                  </div>
                </ion-row>
              </ion-col>
              <ion-col>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Divide proper fractions</i>
                  </div>
                </ion-row>
                
              </ion-col>
            </ion-row>
            <ion-row class="main-row">
              <ion-button (click)="comingSoon()" class="tutorial-button">
                <b>Tutorial</b>
              </ion-button>
              <ion-button (click)="comingSoon()" class="quiz-button">
                <b>Quiz</b>
              </ion-button>
            </ion-row>
          </ion-card>
        </ion-row>
        <ion-row>
          <!-- Ratio and Proportion Card -->
          <ion-card class="content-card">
            <ion-row>
              <ion-item class="progress-item">
                <ion-col>
                  <ion-label class="progress-title">
                    <b>Ratio and Proportion</b>
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-row>
                    <div class="progress-value">
                      <i>0/10 Points</i>
                    </div>
                  </ion-row>
                  <ion-row>
                    <ion-progress-bar class="card-progress" value="0"></ion-progress-bar>
                  </ion-row>
                </ion-col>
              </ion-item>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Relative sizes</i>
                  </div>
                </ion-row>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Percentages</i>
                  </div>
                </ion-row>
              </ion-col>
              <ion-col>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Unequal sharing and grouping</i>
                  </div>
                </ion-row>
              </ion-col>
              <ion-col>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Write decimals as fractions</i>
                  </div>
                </ion-row>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Order three decimal places</i>
                  </div>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row class="main-row">
              <ion-button (click)="comingSoon()" class="tutorial-button">
                <b>Tutorial</b>
              </ion-button>
              <ion-button (click)="comingSoon()" class="quiz-button">
                <b>Quiz</b>
              </ion-button>
            </ion-row>
          </ion-card>
        </ion-row>
        <ion-row>
          <!-- Algebra Card -->
          <ion-card class="content-card">
            <ion-row>
              <ion-item class="progress-item">
                <ion-col>
                  <ion-label class="progress-title">
                    <b>Algebra</b>
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-row>
                    <div class="progress-value">
                      <i>2/10 Points</i>
                    </div>
                  </ion-row>
                  <ion-row>
                    <ion-progress-bar class="card-progress" value="0.2"></ion-progress-bar>
                  </ion-row>
                </ion-col>
              </ion-item>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Simple Formulae</i>
                  </div>
                </ion-row>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Number sequences</i>
                  </div>
                </ion-row>
              </ion-col>
              <ion-col>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Missing number problems</i>
                  </div>
                </ion-row>
              </ion-col>
              <ion-col>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Two unknowns</i>
                  </div>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row class="main-row">
              <ion-button (click)="comingSoon()" class="tutorial-button">
                <b>Tutorial</b>
              </ion-button>
              <ion-button (click)="comingSoon()" class="quiz-button">
                <b>Quiz</b>
              </ion-button>
            </ion-row>
          </ion-card>
        </ion-row>
        <ion-row>
          <!-- Shapes and Grids Card -->
          <ion-card class="content-card">
            <ion-row>
              <ion-item class="progress-item">
                <ion-col>
                  <ion-label class="progress-title">
                    <b>Shapes and Grids</b>
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-row>
                    <div class="progress-value">
                      <i>2/10 Points</i>
                    </div>
                  </ion-row>
                  <ion-row>
                    <ion-progress-bar class="card-progress" value="0.2"></ion-progress-bar>
                  </ion-row>
                </ion-col>
              </ion-item>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Triangles</i>
                  </div>
                </ion-row>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Circle Properties</i>
                  </div>
                </ion-row>
              </ion-col>
              <ion-col>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Translation on four quadrants</i>
                  </div>
                </ion-row>
              </ion-col>
              <ion-col>
              </ion-col>
            </ion-row>
            <ion-row class="main-row">
              <ion-button (click)="comingSoon()" class="tutorial-button">
                <b>Tutorial</b>
              </ion-button>
              <ion-button (click)="comingSoon()" class="quiz-button">
                <b>Quiz</b>
              </ion-button>
            </ion-row>
          </ion-card>
        </ion-row>
      </div>
    </ion-col>
    <ion-col size="2">
    </ion-col>
  </ion-row>
</ion-content>

