<ion-header>
  <ion-toolbar color="warning"> 
    <ion-row>
      <ion-col size="2.5">
        <ion-img class="logotext-img" src="/assets/images/Logotext.png"></ion-img>
      </ion-col>
      <ion-col size="1.5">
        <ion-button routerLink="/home" class="nav-text" fill="clear">
          <b>Home</b>
         </ion-button>
      </ion-col>
      <ion-col size="1.5">
        <ion-button routerLink="/year3" class="nav-text" fill="clear">
          <b>Year 3</b>
         </ion-button>
      </ion-col>
      <ion-col size="1.5">
        <ion-button routerLink="/year4" class="nav-text" fill="clear">
          <b>Year 4</b>
         </ion-button>
      </ion-col>
      <ion-col size="1.5">
        <ion-button routerLink="/year5" class="nav-text" fill="clear">
          <b>Year 5</b>
         </ion-button>
      </ion-col>
      <ion-col size="1.5">
        <ion-button routerLink="/year6" class="nav-text" fill="clear">
          <b>Year 6</b>
         </ion-button>
      </ion-col>
      <ion-col size="1.5">
        <ion-button class="nav-text" fill="clear">
          <b>Times Tables</b>
         </ion-button>
      </ion-col>
  </ion-row> 
  </ion-toolbar>
</ion-header>


<ion-content color="dark">
  <ion-card color="warning" class="title-toolbar">
    <ion-row>
      <div class="title-heading">
      <b>Account</b>
    </div>
    </ion-row>
    <ion-row>
      <div class="title-name">
      <b>{{name}}</b>
    </div>
    </ion-row>

  </ion-card>
  <ion-row class="ion-justify-content-center">
  <ion-card class="profile-card">
    <ion-row class="ion-justify-content-center">
      <ion-img class="profile-img" src={{photo}}></ion-img>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <div class="profile-name">
        <b>{{name}}</b>
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <div>
        Level {{level}}
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-progress-bar class="xp-bar" value={{progress}}></ion-progress-bar>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <div class="xp-needed">
        {{xpNeeded}}XP Needed
      </div>
    </ion-row>
    <ion-row class="padding-top">
      <ion-col>
        <ion-row>
          <ion-col size="9">
            <ion-item class="username">
              <ion-label position="stacked">Username</ion-label>
            <ion-row>
              <div>
                {{name}}
              </div>
            </ion-row>
          </ion-item>
          </ion-col>
          <ion-col size="3">
            <ion-button (click)="editUsername()" class="edit-button">
              Edit
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="9">
            <ion-item class="username">
              <ion-label position="stacked">E-Mail</ion-label>
            <ion-row>
              <div>
                {{email}}
              </div>
            </ion-row>
          </ion-item>
          </ion-col>
          <ion-col size="3">
            <ion-button (click)="editEmail()" class="edit-button">
              Edit
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="username"> 
          <ion-col>
            <ion-button (click)="editPass()" class="edit-button">
              Change Password
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="edit-button">
              Delete Account
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row class="ion-justify-content-center">
          <div class="profile-name">
          <b>Badges Earned</b>
        </div>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <div class="profile-name">
          Click to change display picture
        </div>
        </ion-row>
        <ion-row class="ion-justify-content-center badge-row">
          <ion-col>
            <ion-img  class="badges" (click)="redBadge()" src="/assets/images/redBadge.png"></ion-img>
          </ion-col>
          <ion-col>
              <ion-img  class="badges" (click)="blueBadge()" src="/assets/images/blueCircle.png"></ion-img>
          </ion-col>
          <ion-col>
            <ion-img class="badges" (click)="lightGreenBadge()" src="/assets/images/green1Circle.png"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center badge-row">
          <ion-col>
            <ion-img class="badges" (click)="orangeBadge()" src="/assets/images/orangeCircle.png"></ion-img>
          </ion-col>
          <ion-col>
            <ion-img class="badges" (click)="purpleBadge()" src="/assets/images/purpcirc.png"></ion-img>
          </ion-col>
          <ion-col>
            <ion-img class="badges" (click)="pinkBadge()" src="/assets/images/pinkCircle.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-button type="submit" class="logout-button" (click)="authService.SignOut()" expand="block">Logout</ion-button>
    </ion-row>

    
      
  </ion-card>
</ion-row>
</ion-content>
