<ion-header>
  <ion-toolbar color="warning">
    <ion-row>
      <ion-col size="2.5">
        <ion-img class="logotext-img" src="/assets/images/Logotext.png"></ion-img>
      </ion-col>
      <ion-col size="1.5">
        <ion-button routerLink="/home" class="nav-text" fill="clear">
          <b>Home</b>
        </ion-button>
      </ion-col>
      <ion-col size="1.5">
        <ion-button routerLink="/year3" class="nav-text" fill="clear">
          <b>Year 3</b>
        </ion-button>
      </ion-col>
      <ion-col size="1.5">
        <ion-button routerLink="/year5" class="nav-text" fill="clear">
          <b>Year 5</b>
        </ion-button>
      </ion-col>
      <ion-col size="1.5">
        <ion-button routerLink="/year6" class="nav-text" fill="clear">
          <b>Year 6</b>
        </ion-button>
      </ion-col>
      <ion-col size="1.5">
        <ion-button routerLink="/timestable" class="nav-text" fill="clear">
          <b>Times Tables</b>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button routerLink="/profile" class="account-button" fill="clear">
          <ion-icon class="icon-size" name="person-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <!-- Title Bar -->
  <ion-card color="warning" class="title-toolbar">
    <ion-row>
      <div class="title-heading">
        <b>Year 4</b>
      </div>
    </ion-row>
    <ion-row>
      <div class="title-name">
        <b>gurnaik uppal</b>
      </div>
    </ion-row>
  </ion-card>
  <ion-row class="main-row">
    <ion-col size="2">
    </ion-col>
    <ion-col size="2">
      <!-- Summary card -->
      <ion-card class="summary-card">
        <ion-row>
          <div class="profile-name">
            <b>Course Summary</b>
          </div>
        </ion-row>
        <ion-row>
          <div class="profile-name">
            <b>Number</b>
          </div>
        </ion-row>
        <ion-row>
          <div class="progress-label">
            <i>Number and Place Value</i>
          </div>
          <ion-progress-bar class="summary-bar" value="0.5"></ion-progress-bar>
        </ion-row>
        <ion-row>
          <div class="progress-label">
            <i>Addition and Subtraction</i>
          </div>
          <ion-progress-bar class="summary-bar" value="0.3"></ion-progress-bar>
        </ion-row>
        <ion-row>
          <div class="progress-label">
            <i>Multiplication and Division</i>
          </div>
          <ion-progress-bar class="summary-bar" value="0.8"></ion-progress-bar>
        </ion-row>
        <ion-row>
          <div class="progress-label">
            <i>Fractions</i>
          </div>
          <ion-progress-bar class="summary-bar" value="1"></ion-progress-bar>
        </ion-row>
        <ion-row>
          <div class="profile-name">
            <b>Geometry</b>
          </div>
        </ion-row>
        <ion-row>
          <div class="progress-label">
            <i>Properties of Shapes</i>
          </div>
          <ion-progress-bar class="summary-bar" value="1"></ion-progress-bar>
        </ion-row>
        <ion-row>
          <div class="progress-label">
            <i>Position and Direction</i>
          </div>
          <ion-progress-bar class="summary-bar" value="1"></ion-progress-bar>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <div class="content-holder">
        <ion-row>
          <!-- Number and Place Value Card -->
          <ion-card class="content-card">
            <ion-row>
              <ion-item class="progress-item">
                <ion-col>
                  <ion-label class="progress-title">
                    <b>Number and Place Value</b>
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-row>
                    <div class="progress-value">
                      <i>4/10 Points</i>
                    </div>
                  </ion-row>
                  <ion-row>
                    <ion-progress-bar class="card-progress" value="0.4"></ion-progress-bar>
                  </ion-row>
                </ion-col>
              </ion-item>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Counting Multiples</i>
                  </div>
                </ion-row>
                <ion-row>
                  <div class="card-subheadings">
                    <i>4 Digit place value</i>
                  </div>
                </ion-row>
              </ion-col>
              <ion-col>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Order beyond 1000</i>
                  </div>
                </ion-row>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Round to nearest 10,100,1000</i>
                  </div>
                </ion-row>
              </ion-col>
              <ion-col>
              </ion-col>
            </ion-row>
            <ion-row class="main-row">
              <ion-button class="tutorial-button">
                <b>Tutorial</b>
              </ion-button>
              <ion-button class="quiz-button">
                <b>Quiz</b>
              </ion-button>
            </ion-row>
          </ion-card>
        </ion-row>
        <ion-row>
          <!-- Addition and Subtraction Card -->
          <ion-card class="content-card">
            <ion-row>
              <ion-item class="progress-item">
                <ion-col>
                  <ion-label class="progress-title">
                    <b>Addition and Subtraction</b>
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-row>
                    <div class="progress-value">
                      <i>7/10 Points</i>
                    </div>
                  </ion-row>
                  <ion-row>
                    <ion-progress-bar class="card-progress" value="0.7"></ion-progress-bar>
                  </ion-row>
                </ion-col>
              </ion-item>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Column addition</i>
                  </div>
                </ion-row>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Column subtraction</i>
                  </div>
                </ion-row>
              </ion-col>
              <ion-col>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Inverse Operations</i>
                  </div>
                </ion-row>
              </ion-col>
              <ion-col>
              </ion-col>
            </ion-row>
            <ion-row class="main-row">
              <ion-button class="tutorial-button">
                <b>Tutorial</b>
              </ion-button>
              <ion-button class="quiz-button">
                <b>Quiz</b>
              </ion-button>
            </ion-row>
          </ion-card>
        </ion-row>
        <ion-row>
          <!-- Multiplication and Division Card -->
          <ion-card class="content-card">
            <ion-row>
              <ion-item class="progress-item">
                <ion-col>
                  <ion-label class="progress-title">
                    <b>Multiplication and Division</b>
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-row>
                    <div class="progress-value">
                      <i>3/10 Points</i>
                    </div>
                  </ion-row>
                  <ion-row>
                    <ion-progress-bar class="card-progress" value="0.3"></ion-progress-bar>
                  </ion-row>
                </ion-col>
              </ion-item>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Times tables to 12</i>
                  </div>
                </ion-row>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Derivation</i>
                  </div>
                </ion-row>
              </ion-col>
              <ion-col>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Short division and mulitplication</i>
                  </div>
                </ion-row>
              </ion-col>
              <ion-col>
              </ion-col>
            </ion-row>
            <ion-row class="main-row">
              <ion-button class="tutorial-button">
                <b>Tutorial</b>
              </ion-button>
              <ion-button class="quiz-button">
                <b>Quiz</b>
              </ion-button>
            </ion-row>
          </ion-card>
        </ion-row>
        <ion-row>
          <!-- Fractions Card -->
          <ion-card class="content-card">
            <ion-row>
              <ion-item class="progress-item">
                <ion-col>
                  <ion-label class="progress-title">
                    <b></b>
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-row>
                    <div class="progress-value">
                      <i>0/10 Points</i>
                    </div>
                  </ion-row>
                  <ion-row>
                    <ion-progress-bar class="card-progress" value="0"></ion-progress-bar>
                  </ion-row>
                </ion-col>
              </ion-item>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Equivalent fractions</i>
                  </div>
                </ion-row>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Hundreths</i>
                  </div>
                </ion-row>
              </ion-col>
              <ion-col>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Decimal equivalents</i>
                  </div>
                </ion-row>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Dividing by 10,100</i>
                  </div>
                </ion-row>
              </ion-col>
              <ion-col>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Rounding one decimal places</i>
                  </div>
                </ion-row>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Order two decimal places</i>
                  </div>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row class="main-row">
              <ion-button class="tutorial-button">
                <b>Tutorial</b>
              </ion-button>
              <ion-button class="quiz-button">
                <b>Quiz</b>
              </ion-button>
            </ion-row>
          </ion-card>
        </ion-row>
        <ion-row>
          <!-- Properties of Shapes Card -->
          <ion-card class="content-card">
            <ion-row>
              <ion-item class="progress-item">
                <ion-col>
                  <ion-label class="progress-title">
                    <b>Properties of Shapes</b>
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-row>
                    <div class="progress-value">
                      <i>2/10 Points</i>
                    </div>
                  </ion-row>
                  <ion-row>
                    <ion-progress-bar class="card-progress" value="0.2"></ion-progress-bar>
                  </ion-row>
                </ion-col>
              </ion-item>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Classify geometric shapes</i>
                  </div>
                </ion-row>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Acute and obtuse angles</i>
                  </div>
                </ion-row>
              </ion-col>
              <ion-col>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Symmetry in 2D shapes</i>
                  </div>
                </ion-row>
              </ion-col>
              <ion-col>
              </ion-col>
            </ion-row>
            <ion-row class="main-row">
              <ion-button class="tutorial-button">
                <b>Tutorial</b>
              </ion-button>
              <ion-button class="quiz-button">
                <b>Quiz</b>
              </ion-button>
            </ion-row>
          </ion-card>
        </ion-row>
        <ion-row>
          <!-- Position and Direction Card -->
          <ion-card class="content-card">
            <ion-row>
              <ion-item class="progress-item">
                <ion-col>
                  <ion-label class="progress-title">
                    <b>Position and Direction</b>
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-row>
                    <div class="progress-value">
                      <i>2/10 Points</i>
                    </div>
                  </ion-row>
                  <ion-row>
                    <ion-progress-bar class="card-progress" value="0.2"></ion-progress-bar>
                  </ion-row>
                </ion-col>
              </ion-item>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-row>
                  <div class="card-subheadings">
                    <i>2D coordinates</i>
                  </div>
                </ion-row>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Grid translations</i>
                  </div>
                </ion-row>
              </ion-col>
              <ion-col>
                <ion-row>
                  <div class="card-subheadings">
                    <i>Plot to draw a polygon</i>
                  </div>
                </ion-row>
              </ion-col>
              <ion-col>
              </ion-col>
            </ion-row>
            <ion-row class="main-row">
              <ion-button class="tutorial-button">
                <b>Tutorial</b>
              </ion-button>
              <ion-button class="quiz-button">
                <b>Quiz</b>
              </ion-button>
            </ion-row>
          </ion-card>
        </ion-row>
      </div>
    </ion-col>
    <ion-col size="2">
    </ion-col>
  </ion-row>
</ion-content>
